/* 地图样式 */
.geopath {
    fill: slategrey;
    stroke: black;
    stroke-width: 0.5px;
}

/* 经纬度样式 */
.latlon {
    fill: none;
    stroke: black;
    stroke-opacity: 0.3;
    stroke-width: 0.3px;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 1em;
    text-shadow: 0 1px 0 #fff;
}

.background path {
    fill: none;
    stroke: #ccc;
    stroke-opacity: .4;
    shape-rendering: crispEdges;
}

.foreground path {
    fill: none;
    stroke: steelblue;
    stroke-opacity: .7;
}

/* 热力图刷子样式 */
rect.extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
}

/* 箭头线样式 */
.arrow {
    stroke: black;
    fill: black;
}

/* 热力图提示框样式 */
.hmtooltip {
    width: auto;
    height: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.7em;
    opacity: 0.0;
}

/* 平行坐标图 */
#resetBrushButton {
    color: white;
    visibility: hidden;
    background: gray;
    border: 0;
}
#resetSortingButton {
    left: 84px;
    visibility: hidden;
    color: white;
    background: gray;
    border: 0;
}