<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>twoYaxisScatter</title>
    <script src="../static/lib/js/jquery-3.3.1.js" type="text/javascript"></script>
    <script src="../static/lib/js/d3.v3.js" type="text/javascript"></script>
    <script src="../static/lib/js/crossfilter.js" type="text/javascript"></script>
    <script src="../static/lib/js/dc.js" type="text/javascript"></script>
    <link rel="stylesheet" href="../static/lib/css/dc.css" />
</head>

<body>
    <div id="depth-line-chart">
    </div>

    <script>
        var moveChart = dc.compositeChart("#depth-line-chart");
        d3.csv("./depthLineChart.csv", function (error, data) {
            var dateFormat = d3.time.format("%m/%d/%Y");
            var numberFormat = d3.format(".2f");

            data.forEach(function (e) {
            e.dd = dateFormat.parse(e.date);
            e.day = d3.time.day(e.dd); // pre-calculate month for better performance
        });

        var ndx = crossfilter(data);
        // monthly index avg fluctuation in percentage
        var moveMonths = ndx.dimension(function (d) {
            return d.day;
        });
        var monthlyMoveGroup = moveMonths.group().reduceSum(function (d) {
            return +d.close;
        });
        var indexAvgByMonthGroup = moveMonths.group().reduceSum(function (d){
            return +d.volume;
        });

        moveChart.width(600)
                .height(300)
                .transitionDuration(1000)
                .margins({top: 30, right: 50, bottom: 25, left: 60})
                .dimension(moveMonths)
                .mouseZoomable(true)
                .shareTitle(false)
                .x(d3.time.scale().domain([new Date(1985, 0, 1), new Date(2012, 11, 31)]))
                .round(d3.time.day.round)
                .xUnits(d3.time.days)
                .elasticY(true)
                .renderHorizontalGridLines(true)
                .legend(dc.legend().x(70).y(10).itemHeight(13).gap(5))
                .brushOn(false)
                .compose([
                    dc.lineChart(moveChart)
                            .group(indexAvgByMonthGroup, "Monthly Index Average"),
                    dc.lineChart(moveChart)
                            .group(monthlyMoveGroup, "Monthly Index Move")
                            .ordinalColors(["orange"])
                            .useRightYAxis(true)
                ])
                .yAxisLabel("Monthly Index Average")
                .rightYAxisLabel("Monthly Index Move")
                .renderHorizontalGridLines(true);

            dc.renderAll();
        });
    </script>
</body>

</html>