<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>twoYaxisScatter</title>
    <script src="../static/lib/js/jquery-3.3.1.js" type="text/javascript"></script>
    <script src="../static/lib/js/d3.v3.js" type="text/javascript"></script>
    <script src="../static/lib/js/crossfilter.js" type="text/javascript"></script>
    <script src="../static/lib/js/dc.js" type="text/javascript"></script>
    <link rel="stylesheet" href="../static/lib/css/dc.css" />
</head>

<body>
    <div id="depth-series">
    </div>

    <script>
        var chart = dc.seriesChart("#depth-series");
        var ndx, runDimension, runGroup;

        d3.csv("morley.csv", function (error, experiments) {

            ndx = crossfilter(experiments);
            runDimension = ndx.dimension(function (d) { return [+d.Expt, +d.Run]; });
            runGroup = runDimension.group().reduceSum(function (d) { return +d.Speed; });

            chart
                .width(768)
                .height(480)
                .chart(function (c) { return dc.lineChart(c).interpolate('cardinal'); })
                .x(d3.scale.linear().domain([0, 20]))
                .brushOn(false)
                .yAxisLabel("Measured Speed km/s")
                .xAxisLabel("Run")
                .clipPadding(10)
                .elasticY(true)
                .dimension(runDimension)
                .group(runGroup)
                .mouseZoomable(true)
                .seriesAccessor(function (d) { return "Expt: " + d.key[0]; })
                .keyAccessor(function (d) { return +d.key[1]; })
                .valueAccessor(function (d) { return +d.value - 500; })
                .legend(dc.legend().x(350).y(350).itemHeight(13).gap(5).horizontal(1).legendWidth(140).itemWidth(70));
            chart.yAxis().tickFormat(function (d) { return d3.format(',d')(d + 299500); });
            chart.margins().left += 40;

            dc.renderAll();

        });
    </script>
</body>

</html>