<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>File test</title>
    <script src="./js/jquery-3.3.1.js" type="text/javascript"></script>
    <script src="./js/d3.js" type="text/javascript"></script>
    <style>
        .geopath {
            fill: white;
            stroke: black;
            stroke-width: 1px;
        }

        .latlon {
            fill: none;
            stroke: black;
            stroke-opacity: 0.3;
            stroke-width: 0.3px;
        }
    </style>
</head>

<body>
    <div>
        <select id="year">
        </select>年
        <select id="month">
        </select>月
        <button type="button" id="play">动画</button>
    </div>

    <script>
        $(document).ready(function () {
            for (var i = 0; i <= 8; i++) {
                $("#year").append("<option>200" + i + "</option>");
            }
            for (var i = 1; i <= 12; i++) {
                if (i < 10) {
                    $("#month").append("<option>0" + i + "</option>");
                }
                else {
                    $("#month").append("<option>" + i + "</option>");
                }
            }
        });

        $("#year").change(function () {
            var year = $("#year option:selected").html();
            var month = $("#month option:selected").html();
            var fileName = year.toString() + '-' + month.toString() + '-16.csv';
            //console.log(fileName);
            readAndDraw(fileName, 0.12);
        });

        $("#month").change(function () {
            var year = $("#year option:selected").html();
            var month = $("#month option:selected").html();
            var fileName = year.toString() + '-' + month.toString() + '-16.csv';
            //console.log(fileName);
            readAndDraw(fileName, 0.12);
        });

        var width = 800;
        var height = 800;
        var svg = d3.select("body").append("svg").attr("width", width).attr("height", height);
        var projection = d3.geoMercator()
            .center([120.275, 22.525]) //必须指定中心，否则无法显示 //[109.475, 131.075], [12.025, 33.025]
            .scale(1000)
            .translate([width / 2.5, height / 2.5]);
        var path = d3.geoPath().projection(projection);
        var graticule = d3.geoGraticule()
            .extentMajor([[117, 22], [140, 40 + 1e-4]]) //经度117-140， 纬度22-40
            .step([1, 1]);
        var groups = svg.append('g').attr("id", "geo");

        d3.json("./oceanGeo.json"
            // groups.append("path")
            //     .datum(graticule)
            //     .attr("class", "latlon")
            //     .attr("d", path);

        ).then(function(data){
                groups.selectAll("path")
                .data(data.geometries)
                .enter()
                .append("path")
                .attr("class", "geopath")
                .attr("d", path);
            });

        d3.select("#play")
            .on("click", function () {
                var year = $("#year option:selected").html();
                var month = $("#month option:selected").html();
                for (var i = +year; i <= 2008; i++) {
                    for (var j = +month; j <= 12; j++) {
                        setTimeout(function () {
                            var fileName;
                            if (j < 10) {
                                fileName = i.toString() + '-0' + j.toString() + '-16.csv';
                            }
                            else {
                                fileName = i.toString() + '-' + j.toString() + '-16.csv';
                            }
                            console.log(fileName);
                            readAndDraw(fileName, 0.12);
                            if (j == 12) {
                                month = 1;
                                break;
                            }
                        }, 1500);
                    }
                }
            });

        function readAndDraw(fileName, step) {
            var data = [];
            d3.csv('./oceandata/ssh_tuple_0p1/' + fileName, function (d) {
                return [
                    +d.lon,
                    +d.lat,
                    +d.value
                ];
            }).then(function(data){
                draw(data, step);
            });
                // csv.forEach(function (row) {
                //     Object.keys(row).forEach(function (col) {
                //         if (row[col] != "" && col != "") { // 在csv里，第一个格子可能是空字符串，也可能是Inf，注意修改col
                //             data.push([+col, +row[""], +row[col]]); //+在这里相当于parseFloat()
                //         }
                //     })
                // });
                // draw(data, step);
           // 异步方式请求数据！
        }

        function draw(data, step) {
            var max = d3.max(data, function (d) { return d[2]; });
            var min = d3.min(data, function (d) { return d[2]; });
            var linear = d3.scaleLinear()
                .domain([min, max])
                .range([0, 1]);
            var compute = d3.interpolate(d3.hsl(0, 0, 0.5625), d3.rgb(0.5, 0, 0));
            var geo = d3.select("#geo");

            var update = geo.selectAll("rect").data(data);
            var enter = update.enter();
            var exit = update.exit();

            update.attr("x", function (d) {
                return projection([d[0], d[1]])[0];
            })
                .attr("y", function (d) {
                    return projection([d[0], d[1]])[1];
                })
                .attr("width", function (d) {
                    var xadd = projection([d[0] + step, d[1]])[0];
                    var x = projection([d[0], d[1]])[0];
                    return xadd - x;
                })
                .attr("height", function (d) {
                    var yadd = projection([d[0], d[1] + step])[1];
                    var y = projection([d[0], d[1]])[1];
                    return y - yadd;
                })
                .style("fill", function (d) {
                    return d3.interpolateRdYlBu(linear(d[2]));
                });

            enter.append("rect")
                .attr("x", function (d) {
                    return projection([d[0], d[1]])[0];
                })
                .attr("y", function (d) {
                    return projection([d[0], d[1]])[1];
                })
                .attr("width", function (d) {
                    var xadd = projection([d[0] + step, d[1]])[0];
                    var x = projection([d[0], d[1]])[0];
                    return xadd - x;
                })
                .attr("height", function (d) {
                    var yadd = projection([d[0], d[1] + step])[1];
                    var y = projection([d[0], d[1]])[1];
                    return y - yadd;
                })
                .style("fill", function (d) {
                    return d3.interpolateRdYlBu(linear(d[2]));
                });

            exit.remove();

            colorBar(min, max, d3.rgb(255, 0, 0), d3.rgb(0, 0, 255));
        }

        function colorBar(min, max, minColor, maxColor) {

            var colorBarWidth = 300;
            var colorBarHeigth = 30;
            var startX = (800 - 300) / 2.5;
            var startY = 600;

            $(".colorbar").remove();
            var svg_g = d3.select("svg").append("g").attr("class", "colorbar");
            var defs = svg_g.append("defs");

            // 定义一个线性渐变
            var linearGradient = defs.append("linearGradient")
                .attr("id", "linearColor")
                .attr("x1", "0%")
                .attr("y1", "0%")
                .attr("x2", "100%")
                .attr("y2", "0%");

            var stop1 = linearGradient.append("stop")
                .attr("offset", "0%")
                .style("stop-color", minColor);

            var stop2 = linearGradient.append("stop")
                .attr("offset", "100%")
                .style("stop-color", maxColor);

            // 添加一个矩形并应用线性渐变
            var colorRect = svg_g.append("rect")
                .attr("x", startX)
                .attr("y", startY)
                .attr("width", colorBarWidth)
                .attr("height", colorBarHeigth)
                .style("fill", "url(#" + linearGradient.attr("id") + ")");

            var minValueText = svg_g.append("text")
                .attr("x", startX)
                .attr("y", startY + colorBarHeigth)
                .attr("dy", "1.2em")
                .attr("text-anchor", "middle")
                .text(min.toFixed(2));

            var maxValueText = svg_g.append("text")
                .attr("x", startX + colorBarWidth)
                .attr("y", startY + colorBarHeigth)
                .attr("dy", "1.2em")
                .attr("text-anchor", "middle")
                .text(max.toFixed(2));
        }
    </script>
</body>

</html>